html,
body {
    overflow: hidden;
    font-size: 62.5%;
}

body {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
    background-image: url(PagInicial-img/PagInicial-Fundo.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

#loader,
#Tela-login {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(PagInicial-img/PagInicial-loadFundo.jpg);
    background-size: cover;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: whitesmoke;
    z-index: 12;
    text-align: center;
    align-content: center;
}

#Tela-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#Tela-login img {
    width: 30%;
    min-width: 200px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    align-items: start;
}

.campo label {
    margin-bottom: 5px;
}

.campo input {
    width: 300px;
    font-family: "VT323", monospace;
    font-size: 32px;
    padding: 6px;
}

#button-login {
    background-color: #3ACFC5;
    width: 16%;
    min-width: fit-content;
    height: 8%;
    border: solid 4px #011423;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #011423;
    position: relative;
    top: 0;
    transition: top 0.5ms ease;
    box-shadow: 0px 6px 0px #011423;
}

.retro-popup {
    border: 4px solid #FCB62B;
    box-shadow: 0 0 0 4px #011423;
    image-rendering: pixelated;
    font-family: 'VT323', monospace !important;
    font-size: 20px;
}

.swal2-icon {
    color: #00FFE1 !important;
    border-color: currentColor !important;
    box-shadow: 0 0 6px currentColor !important;
}

.retro-button {
    font-family: 'VT323', monospace !important;
    font-size: 24px !important;
    border: 3px solid #011423 !important;
    box-shadow: 0px 4px 0px #011423 !important;
    color: #011423 !important;
}


#loader img {
    height: 20%;
}

#loader h1 {
    margin-top: 10px;
}

#cabecalho {
    grid-column: span 4 / span 4;
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 15%;

}

#blank1 {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
}

#boxLogo {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

#blank2 {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 2;
}

#boxDeBotoes {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
    display: flex;
    justify-content: space-evenly;
}

#Left-corner {
    position: relative;
    grid-column: span 2 / span 2;
    grid-row-start: 5;
    display: flex;
    justify-content: center;
}

#Right-corner {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

#logo {
    display: block;
    margin: auto;
    width: 70%;
}

#listaDePuzzles,
#abreRanking {
    background-color: #3ACFC5;
    width: 35%;
    height: 50%;
    border: solid 4px #011423;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #011423;
    position: relative;
    top: 0;
    transition: top 0.5ms ease;
    box-shadow: 0px 6px 0px #011423;

}

button:hover {
    top: -3px !important;
    box-shadow: 0px 8px 0px #011423 !important;
}

button:active {
    top: 3px !important;
    box-shadow: 0px 2px 0px #011423 !important;
    background-color: #FCB62B !important;
}



.miniButton {
    width: 10%;
    height: 60%;
    background-color: #3ACFC5;
    border: solid 4px #011423;
    position: relative;
    box-shadow: 0px 6px 0px #011423;
}

.miniButton img {
    width: 90%;
}

#exit img {
    width: 70% !important;
}

#buttonTV {
    width: 15%;
    height: 100px;
    position: relative;
    right: 80px;

}

.desativado {
    opacity: 0;
    pointer-events: none;
}

#menu-puzzles {
    position: absolute;
    width: 80%;
    height: 90%;
    background-color: #3ACFC5;
    align-self: center;
    justify-self: center;
    bottom: 20px;
    border: solid 10px #011423;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.3);
    will-change: transform, opacity;
}


#bloqueio-clique {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 8;
}

.menu-head {
    height: 10%;
    display: flex;
    justify-content: end;
}

#fechar-menu, #fechar-ranking {
    position: relative;
    height: 85%;
    margin: 10px 20px;
}

#fechar-menu:hover,
.puzzle-frames img:hover, #fechar-ranking:hover {
    top: -3px !important;
}

#fechar-menu:active,
.puzzle-frames img:active, #fechar-ranking:active {
    top: 3px !important;
}


#puzzles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 110px);
    margin-top: 5%;
    margin-left: 2.3%;
    height: auto;
    width: 100%;
}

#P1,
#P2,
#P3,
#P4 {
    grid-row: span 2 / span 2;
}


#P5,
#P6,
#P7,
#P8 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.puzzle-frames {
    width: 80%;
    height: 100%;
}

.puzzle-frames img {
    width: 100%;
    border: solid 6px;
    position: relative;
    object-fit: cover;
}

#P1 img {
    border-color: whitesmoke;
}

#P2 img,
#P3 img {
    border-color: green;
}

#P4 img,
#P5 img {
    border-color: #FCB62B;
}

#P6 img,
#P7 img {
    border-color: red;
}

#P8 img {
    border-color: black;
}


#menu-puzzles {
    overflow-y: auto;
    overflow-x: hidden;
}


#ranking {
    position: absolute;
    width: 40%;
    height: 90%;
    background-color: #3ACFC5;
    align-self: center;
    justify-self: center;
    bottom: 20px;
    border: solid 10px #011423;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.3);
    will-change: transform, opacity;
}

#rankingPlayers{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    justify-self: start;
    list-style: none;
    margin-top: 5%;
    justify-self: center;
    padding: 0;
    margin-top: 5%;
    width: 95%;
}

#rankingPlayers li {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
}


.pontos{
    color: #FCB62B;
    background-color: #011423;
    border-radius: 10%;
}

#primeiro{
    background-color: #FCB62B;
    border-radius: 10px;
}
#estatica {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#estatica::before,
#estatica::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 200%;
    background-image:
        linear-gradient(transparent 93%, rgba(255, 255, 255, 0.4) 100%);
    background-size: 20px 20px;
    animation: oldTV 4s linear infinite;
}


#estatica::after {
    animation-delay: -0.35s;
}

@keyframes oldTV {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}


@media (max-width: 1170px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 20px;
        background-size: cover;
        background-attachment: fixed;
    }

    #Left-corner {
        position: relative;
        top: 0px;
    }

    #cabecalho {
        padding: 0 10%;
    }



    #sound,
    #exit {
        width: 12%;
    }

    #buttonTV {
        width: 20%;
        position: static;
    }

    #boxLogo {
        grid-column: span 2;
        grid-row-start: auto;
    }

    #logo {
        width: 80%;
    }

    #boxDeBotoes {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 50%;
    }

    #listaDePuzzles,
    #abreRanking {
        width: 100%;
        height: auto;
        font-size: 40px;
    }


    #puzzles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 37px;
        margin-top: 2%;
    }

    #P7,
    #P8 {
        grid-row: span 2 / span 2;
        grid-row-start: 5;
    }

    #rankingPlayers{
        font-size: 55px;
    }

    #rankingPlayers li{
        margin-bottom: 40px;
    }
}


@media (max-width: 900px) {
    #ranking{
        width: 70%;
    }
}


@media (max-width: 689px) {
    #cabecalho {
        width: 100%;
        padding: 0 10%;
    }

    #sound,
    #exit {
        width: 80px;
    }


    #cefetLogo {
        margin-left: 10%;
    }
    #ranking{
        width: 80%;
    }
}

@media (max-width: 450px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 40px;
        gap: 15px;
        background-attachment: fixed;
        background-size: cover;
    }

    #puzzles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 0px;
        height: auto;
    }

    #menu-puzzles {
        height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #P3,
    #P4 {
        grid-row: span 2 / span 2;
        grid-row-start: 3;
    }

    #P5,
    #P6 {
        grid-row: span 2 / span 2;
        grid-row-start: 5;
    }

    #P7,
    #P8 {
        grid-row: span 2 / span 2;
        grid-row-start: 7;
    }

    .puzzle-frames {
        height: 100%;
        min-height: 150px;
    }

    .puzzle-frames {
        object-fit: cover;
    }

    #fechar-menu {
        height: 5vh !important;
        margin: 5px, 10px;
    }


    #Left-corner {
        position: static;
    }

    #cabecalho {
        width: 100%;
        padding: 0px 20px;
    }


    #sound,
    #exit {
        width: 20% !important;
    }

    #boxLogo {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    #logo {
        width: 100%;
    }

    #boxDeBotoes {
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    #listaDePuzzles,
    #abreRanking {
        width: 70%;
        height: 60px;
        font-size: 36px;
    }

    #buttonTV {
        width: 17%;
        height: 60px;
    }

    #rankingPlayers{
        font-size: 40px;
    }

}

@media (max-width: 419px) {
    #buttonTV {
        width: 80px;
        height: 100%;
    }

    #loader {
        font-size: 40px;
    }

}
