body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#puzzle1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-evenly;
    background-color: black;
    gap:0;
}

.peca{
    display: block;
    height: 192px;
    width: 297px;
    transition: transform 200ms ease;
}
#swap
{
    margin: 20px;
    width: 300px;
    height: 70px;
    background-color: blueviolet;
    border: 2px solid black;
}
.selecionado{
  transform: scale(0.97);
}
.peca:hover{
    transform: scale(1.05);
}