body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url(../PagInicial/PagInicial-img/PagInicial-Fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}


#puzzle {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-evenly;
    background-color: black;
    gap: 0;
}

.peca {
    display: block;
    height: 192px;
    width: 297px;
    transition: transform 200ms ease;
}

#swap {
    background-color: #3ACFC5;
    width: 30%;
    height: 10%;
    border: solid 4px #011423;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #011423;
    transition: top 0.5ms ease;
    box-shadow: 0px 6px 0px #011423;
}

.selecionado {
    transform: scale(0.97);
}

.peca:hover {
    transform: scale(1.05);
}

#chave {
    position: absolute;
    display: none;
}