body {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: url(../PagInicial/PagInicial-img/PagInicial-Fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../PagInicial/PagInicial-img/PagInicial-loadFundo.jpg);
    background-size: cover;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: whitesmoke;
    z-index: 12;
    text-align: center;
    align-content: center;
}
#loader img{
    height: 20%;
}
#loader h1{
    margin-top: 10px;
}

#puzzle {
     display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 0;
    line-height: 0;
    width: 59%;
    max-width: 800px;
    height: fit-content;
    position: relative;
    border: solid 5px #FCB62B;
    
}

.peca {
   width: 100.5%;
    height: 100.5%;
    object-fit: cover;
    transform: translate(-0.5%, -0.5%);
    display: block;
}


.desativado {
    display: none;
}

#botoes {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

#swap {
    background-color: #3ACFC5;
    width: 50%;
    height: 80px;
    border: solid 6px #011423;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #011423;
    transition: top 0.5ms ease;
    box-shadow: 0px 6px 0px #011423;
    position: relative;
}

.selecionado {
    position: relative;
    outline: solid 4px whitesmoke;
    z-index: 10;
}

.peca:hover {
    transform: scale(1.05);
}

#chave {
    position: absolute;
    display: none;
}


#swap:hover, #sound:hover{
    top: -3px !important;
    box-shadow: 0px 8px 0px #011423 !important;
}

#swap:active, #sound:active {
    top: 3px !important;
    box-shadow: 0px 2px 0px #011423 !important;
    background-color: #FCB62B !important;
}



#sound {
    width: 80px;
    height: 80px;
    background-color: #3ACFC5;
    border: solid 4px #011423;
    position: relative;
    box-shadow: 0px 6px 0px #011423;
}

#sound img {
    height: 80%;
}


.retro-popup {
    border: 4px solid #FCB62B;
    box-shadow: 0 0 0 4px #011423;
    image-rendering: pixelated;
    font-family: 'VT323', monospace !important;
}

.swal2-icon {
    color: #00FFE1 !important;
    border-color: currentColor !important;
    box-shadow: 0 0 6px currentColor !important;
}

.retro-button {
    font-family: 'VT323', monospace !important;
    font-size: 24px !important;
    border: 3px solid #011423 !important;
    box-shadow: 0px 4px 0px #011423 !important;
    color: #011423 !important;
}


@media (max-width: 1030px) {

    #swap {
        width: 60%;
        height: 70px;
    }

    #sound {
        width: 80px;
        height: 70px;
    }
    #puzzle{
        width: 80%;
    }
}

@media (max-width: 621px) {
    #swap {
        width: 40%;
        min-width: 100px;
        font-size: 30px;
    }

    #sound {
        height: 65px;
        width: 40%;
    }

    #puzzle {
        box-sizing: border-box;
        width: min(95vw, 420px);
        margin: 30px;
    }
    
    #botoes{
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 419px){
    #loader{
        font-size: 40px;
    }
}