
body {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    background-image: url(PagInicial-img/PagInicial-Fundo.png);
}
    
#div1 {
    grid-column: span 4 / span 4;

}

#div2 {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
}

#div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

#div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 2;
}

#div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

#div6 {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
}

#div7 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}
#logo{
  display: block;
  margin: auto;
  width: 60%;
}    
#listaDePuzzles, #jogar{
    background-color: aquamarine;
    width: 45%;
}